.booking {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        color: $primary;
        border: 1px solid $primary;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 20px;
        background-color: rgba(239, 167, 101, 0.1);

        &:hover {
            background-color: $dark;
            color: #ffffff;
            transition: .3s ease-in-out;
        }
    }
}


.delicacies {
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.home-link {

    .home-link__item {

        svg {
            width: 40px;
        }
    }
}
