.menu-section {
    padding-bottom: 30px;

    .menu-section__title {
        color: $primary;
        font-family: "YesevaOne", sans-serif;
        position: absolute;
        text-transform: uppercase;
        top: 40%;
        text-align: center;
        width: 100%;
        font-size: 3.5rem;
        margin: 0;

        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }

    .menu-section__item {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            text-align: center;
        }

        .menu-item__title {
            color: $orange-200;
            font-family: "YesevaOne", sans-serif;
            text-transform: capitalize;
        }

        .menu-item__description {
            color: $gray;
            text-transform: capitalize;
        }

        .menu-item__content {
            .menu-item__price {
                color: $gray;
                font-size: 17px;
                font-family: "VarelaRound", sans-serif;

                @include media-breakpoint-down(md) {
                    font-size: 13px;
                }
            }
        }
    }
}

.menu-parallax {
    position: relative;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .menu-parallax__overlay {
        background-image: linear-gradient(180deg, rgba(29, 25, 34, 0.5098039216) 0%, #1d1922 98%);
        width: 100%;
        height: 100%;
        content: "";
    }
}
