@import "components/navigation";
@import "components/page";
@import "components/carousel";
@import "components/animation";
@import "components/footer";
@import "components/input";
@import "components/file";
@import "components/card";
@import "components/modal";
@import "components/tab";
@import "components/gallery";
@import "components/repeater";
@import "components/admin";

@import "pages/home";
@import "pages/menu";
@import "pages/admin";
@import "pages/contact";

body {
    background-color: $dark;

    a {
        color: $gray;
        text-decoration-color: $primary;

        &:hover {
            color: $primary;
        }
    }

    h2 {
        color: $primary;
        font-family: "YesevaOne", sans-serif;
        font-size: 3rem;
        text-align: center;
    }

    h3 {
        color: $primary;
        font-family: "YesevaOne", sans-serif;
        font-size: 1.75rem;
    }

    table {
        .table-item {
            border-bottom: 1px solid #ffffff;
            padding-bottom: 2px;
        }
    }
}

.app-section {
    padding: 40px;

    h2 {
        margin-bottom: 80px;
    }

    .section-padding {
        padding-top: 450px;
    }
}




