.app-footer {
    position: relative;
    background-color: #1d1922;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-family: "VarelaRound", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    z-index: 2;
}
