.app-footer {
    position: relative;
    background-color: #1d1922;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 13px;
    z-index: 2;

    .app-footer__section {
        text-align: center;

        li {
            list-style-type: none;
        }

        h3 {
            color: $primary;
            font-family: "YesevaOne", sans-serif;
        }

        p, a  {
            color: $gray;
            font-size: 1rem;
            text-decoration: none;
            font-family: "VarelaRound", sans-serif;
            font-weight: bold;
        }
    }
}
