.app-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    position: fixed;
    z-index: 3;

    .app-navigation__logo {
        color: $primary;
        font-family: "YesevaOne", sans-serif;
        font-size: 1.5rem;
    }

    .app-navigation__menu {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        .active-item {
            a {
                color: $primary !important;
            }

            &:after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 13px;
                background: $primary;
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        li {
            position: relative;

            a {
                padding: 0 25px;
                font-size: 13px;
                font-family: "VarelaRound", sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.app-locale {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}


