.app-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 3;
    padding: 20px;

    @include media-breakpoint-up(xl) {
        padding: 40px;
    }

    @include media-breakpoint-down(xl) {
        flex-direction: column;
        background-color: rgba(0,0,0,0.8) !important;
    }

    .app-navigation__logo {
        color: $primary;
        font-family: "YesevaOne", sans-serif;
        font-size: 1.5rem;
    }

    .app-navigation__icon {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-up(xl) {
            display: none;
        }

        svg {
            color: #ffffff;
            height: 40px;
            width: 40px;
        }
    }

    .app-navigation__menu-mobile {
        width: 100%;

        @include media-breakpoint-up(xl) {
            display: none;
        }

        ul {
            background-color: #000;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px 0 20px;

            li {
                padding-bottom: 20px;
                list-style-type: none;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-size: 15px;
                font-family: "VarelaRound", sans-serif;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .app-navigation__menu-desktop {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        @include media-breakpoint-down(xl) {
            display: none;
        }

        .active-item {
            a {
                color: $primary !important;
            }

            &:after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 13px;
                background: $primary;
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        li {
            position: relative;

            a {
                padding: 0 25px;
                font-size: 13px;
                font-family: "VarelaRound", sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.app-locale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include media-breakpoint-down(xl) {
        justify-content: center;
        gap: 10px;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 30px;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 20px;
        height: 20px;
    }
}


