.tab {

    .tab-list-item {
        list-style-type: none;
        display: flex;
        align-items: end;
    }

    .tab-list-horizontal {
        padding: 0;
        overflow-x: scroll;
        position: relative;
        margin: 0 20px 0 20px;
        display: flex;

        .tab-button {
            cursor: pointer;
            padding: 10px;
            background-color: transparent;
            color: $gray;
            border: 1px solid #ffffff;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .tab-icon {
                font-weight: bold;
            }
        }

        .tab-button-inactive {
            font-size: 12px;
        }

        .tab-button:hover {
            .tab-icon {
                color: $blue;
            }
        }
    }

    .tab-page {
        .tab-page-header {
            position: relative;
            height: 70px;
            display: flex;
            align-items: center;
            padding: 0 20px;
        }

        .tab-page-content {
            border-top: 1px solid $gray;
            position: relative;
            padding: 20px;
        }
    }
}

.tab-page-content-offset {
    padding-left: 110px;
    padding-right: 20px;
    padding-top: 20px;
    min-height: 250px;

}
